body {
  background-image: url('lightning.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}

#enemy {
  -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;

    -webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
transform-origin: 50% 50%;

}

@keyframes spin {
    to {transform: rotate(360deg);}
}

.highscore {
  font-color: white;
}


